<html>
<body class = "app">
  <header class = "header">
    <img src="    https://gdm-catalog-fmapi-prod.imgix.net/ProductLogo/793a03b1-a068-45f8-bf9c-ef579762a940.jpeg?auto=format&ixlib=react-9.0.3" class = "img1"/>
    <h1>Remote Plant Watering</h1>
  </header>
  <div class = "obox">
    <div class = "left">
      <img src="https://www.freeiconspng.com/uploads/water-drop-png-photo-12.png" class = "img"/>
    </div>
    <form (ngSubmit) ="onsubmit()" class = "form">
      <div class = "box">
        <br>
        <img src="https://www.ikea.com/ca/en/images/products/fejka-artificial-potted-plant-indoor-outdoor-monstera__0614197_pe686822_s5.jpg" class = "img1"/>
        <input type="checkbox" id="plant1" name="plant" value="plant1">
        <label for="plant1"> Plant 1: Watered {{datax}} seconds ago, Needs watering in {{datay}} minutes, cooldown before watering again {{dataz}} </label><br><br>       
       
        <img src="https://cdn.shopify.com/s/files/1/0150/6262/products/the-sill_zz-plant_variant_medium_hyde_blush.jpg?v=1648839401" class = "img1"/>
        <input type="checkbox" id="plant2" name="plant" value="plant2">
        <label for="plant2"> Plant 2: Watered {{datax1}} seconds ago, Needs watering in {{datay1}} minutes, cooldown before watering again {{dataz1}}</label><br><br>
       
        <img src="https://hgtvhome.sndimg.com/content/dam/images/grdn/fullset/2014/6/25/0/CI_04-fbfd01d70004.jpg.rend.hgtvcom.966.725.suffix/1452664590074.jpeg" class = "img1"/>
        <input type="checkbox" id="plant3" name="plant" value="plant3">
        <label for="plant3"> Plant 3: Watered {{datax2}} seconds ago, Needs watering in {{datay2}} minutes, cooldown before watering again {{dataz2}}</label><br><br>
       
        <img src="https://www.ikea.com/ca/en/images/products/fejka-artificial-potted-plant-indoor-outdoor-monstera__0614197_pe686822_s5.jpg" class = "img1"/>
        <input type="checkbox" id="plant4" name="plant" value="plant4">
        <label for="plant4"> Plant 4: Watered {{datax3}} seconds ago, Needs watering in {{datay3}} minutes, cooldown before watering again {{dataz3}}</label><br><br>
       
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/indoor-plants-1634736990.jpg?crop=0.502xw:1.00xh;0.250xw,0&resize=640:*" class = "img1"/>
        <input type="checkbox" id="plant5" name="plant" value="plant5">
        <label for="plant5"> Plant 5: Watered {{datax4}} seconds ago, Needs watering in {{datay4}} minutes, cooldown before watering again {{dataz4}}</label><br><br>
       
        <input type="submit" class = "button" value="Water Selected Plants">
      </div>
      </form>

      <div class = "right">
        <img src="https://www.freeiconspng.com/uploads/download-water-drop-icon-clipart-15.png" class = "img"/>
      </div>
</div>
<div class="footer"></div>
</body>
</html>
